

<table *ngIf="patients" class="table table-hover table-dark">
  <thead>
  <tr>
    <th>JMBG</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>LBO</th>
    <th>Phone</th>
    <th class="u-position--center">Change</th>
    <th class="u-position--center">View</th>
    <th class="u-position--center">Create report</th>
    <th class="u-position--center">Create referral</th>
    <th class="u-position--center">Create prescription</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of patients">
      <td>{{item.jmbg}}</td>
      <td>{{item.name}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.lbo}}</td>
      <td>{{item.phone}}</td>
      <td md-button class="submit-btn" class="u-position--center">
        <button class="btn btn-success"(click)="changePatient(item)">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td md-button class="submit-btn" class="u-position--center">
        <button class="btn btn-info" (click)="openLink(item)">
          <i class="fa fa-eye"></i>
        </button>
      </td>
      <td md-button class="submit-btn" class="u-position--center">
        <a [routerLink]="['/report', item.jmbg]" class="btn btn-primary" (click)="createReport(item)">
          <i class="fa fa-sticky-note"></i>
        </a>
      </td>
      <td md-button class="submit-btn" class="u-position--center">
        <a [routerLink]="['/referral', item.jmbg]" class="btn btn-primary">
          <i class="fa fa-sticky-note"></i>
        </a>
      </td>
      <td md-button class="submit-btn" class="u-position--center">
        <a [routerLink]="['/prescription', item.jmbg]" class="btn btn-primary">
          <i class="fa fa-sticky-note"></i>
        </a>
      </td>
      </tr>
  </tbody>
</table>